<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Providers</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    
    <a class="nav-item nav-link" routerLink="/listProvider" routerLinkActive="active">Providers</a>
    
    <a class="nav-item nav-link" routerLink="/addProvider" routerLinkActive="active">Ajout provider</a>
    <a class="nav-item nav-link" routerLink="/listArticle" routerLinkActive="active">Articles</a>
    
    <a class="nav-item nav-link" routerLink="/addArticle" routerLinkActive="active">Ajout article</a>
    
    </div>
    </div>
    </nav>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    
    <router-outlet></router-outlet>